html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
                /*fin reset Css*/
body{
    width: 100VW;
    height: auto;
  
}
header{
    width:100vw;
    height: auto;
    left: 0;   
}
.entete{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background:white;
    position: fixed;
    width: 100%;
    height:13% ;
    top: 0;
    left:0 ;  
}
.logo{
    width: 190px;
    height: 110px; 
    padding: 1%;
}
.slogan{
    margin-left: 25%;
    margin-top: 5%;
    font-family:'Playfair Display', serif;
    font-weight: 100;
    font-size: 1.3em;
    text-transform: uppercase;
    
    letter-spacing: 0.5em;   
}    
.slogan .letter {
    display: inline-block;
    line-height: 1em;
    color: black;
    font-style: bold;

}

           /* Menu navigation */
.btn-navigation{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
}
.btn-navigation .barre{
    width: 30px;                            /*montre que c'est cliquable*/
    height: 3px;
    background: #111;
    margin-top: 3px; 

    transition: background-color .3s ease-in-out;       /*effet doux*/
   -webkit-transition: transform .6s ease-in-out; 
}
.btn-navigation .barre.white{
    background: #fff;   
}
.navigation{
    position: fixed;
    right: 0;
    padding: 0 30px;
    background:#1366DE;
    width: 14%;
    height: 100%;
    top: 0;
    z-index: 10;

    transition: transform .6s ease-in-out;       /*effet doux*/
   -webkit-transition: transform .6s ease-in-out;       /*linéaire*/
   
   transform: translateX(100%);                /* menu complètement caché*/
    -webkit-transform: translateX(100%);
}
.navigation.isOpen{                            /*changement d'état de la navigation*/
    transform: translateX(0%);  
    -webkit-transform: translateX(0%);
}
.navigation ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-family: 'Roboto Condensed', sans-serif;
}
.navigation ul li{
    margin: 10px 0;      
}
.navigation ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .050em;  
    color: black;
}   
.navigation ul li a:hover{  
    background: white; 
}           
/*fin menu navigation*/


        /*SLIDER*/
html,body,div,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tr,th,td,article,aside,canvas,details,embed,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
body{line-height:1}
ol,ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
q,blockquote{quotes:none}
q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}
a img{border:none}
article{display:block}
body{background:whitesmoke;overflow-x:hidden}
/* h1,h2,h3,h4,h5,h6{font-weight:bold;font-size:16px;margin:12px 0} */
span{margin:35px 0 5px;font-size:26px;font-weight:normal;color:#fff} 
#slider{text-align:center}
/* h2{margin:40px 0 25px;border-bottom:1px solid #bbb;padding:0 0 10px} */
p{margin:20px 0 16px}
strong{font-weight:bold} */
label,a{color:#000;cursor:pointer;text-decoration:none;font-style:normal;margin-left: 30px }
label:hover,a:hover{color:#1366DE!important}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
label,#active,img{-moz-user-select:none;-webkit-user-select:none}
.catch{display:block;height:0;overflow:hidden}
#slider{margin:0 auto}
input{display:none}
#slide1:checked ~ #slides .inner{margin-left:0}
#slide2:checked ~ #slides .inner{margin-left:-100%}
#slide3:checked ~ #slides .inner{margin-left:-200%}
#slide4:checked ~ #slides .inner{margin-left:-300%}
#slide5:checked ~ #slides .inner{margin-left:-400%}
#container{width:100%;overflow:hidden}
article img{width:100%}
#slides .inner{width:500%;line-height:0}
#slides article{width:20%;float:left}
#commands{margin:-25% 0 0 0;width:100%;height:50px}
#commands label{display:none;width:80px;height:80px;opacity:0.5}
#commands label:hover{opacity:0.8}
#active{position:relative;z-index:5;margin:16% 0 0;text-align:center}
#active label{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;display:inline-block;width:10px;height:10px;background:#EB2011}
#active label:hover{background:#333;border-color:#777!important}
#active label:hover{background:;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#000;opacity:0.6;border-color:#fff!important;border:2px solid #fff}
.caption{line-height:20px;margin:0 0 -150%;position:absolute;padding:320px 12px;opacity:0;color:#fff;text-transform:none;font-family:'Open Sans',Arial,Helvetica,sans-serif;text-align:center;font-size:25px}
.caption bar{ display:inline-block;padding:10px;background:#777;border-radius:15px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)}
#slides{position:relative;padding:2px;border:1px solid #ddd;margin:45px 0 0;background:#FFF;background:-webkit-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-moz-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-ms-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:-o-linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);background:linear-gradient(#FFF,#FFF 20%,#EEE 80%,#DDD);-webkit-border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;border-radius:2px 2px 2px 2px;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2)}
#slides .inner{-webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
#slider{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #slides article:nth-child(1) .caption,#slide2:checked ~ #slides article:nth-child(2) .caption,#slide3:checked ~ #slides article:nth-child(3) .caption,#slide4:checked ~ #slides article:nth-child(4) .caption,#slide5:checked ~ #slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#slider{max-width:960px; margin-top: 12%;
}
.bloc1{
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    max-width:960px;
    margin-left: 24%;
    margin-top: 3%;  
}
    /*bas slider*/
.carre1 {     /*carré orienté*/
    height: 70px;
    width:70px;
    background: #FCCD07;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */

    
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}  
  .carre1:hover{
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}
.entreprise{
    margin-top: 26%;
    margin-left: 20%;
    transform: rotate(-45deg); 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;   
}
.carre2 {     /*carré orienté*/
    height: 70px;
    width:70px;
    background: #FCCD07;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
    
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  } 
.carre2:hover{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);

}
.services{
    margin-top: 33%;
    transform: rotate(-45deg); 
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}
.carre3 {     /*carré orienté*/
    height: 70px;
    width:70px;
    background: #FCCD07;

    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
    
    /* Rotation */

    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}  
.carre3:hover{
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
#contact{
    transform: rotate(-45deg); 
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 27%;
    margin-left: 13%;
    font-size: 12px;
}
            /*footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
	left: 0;
    padding: 2vh;
    height: 7vh; 
    background:white;
    bottom: 0;
    position: fixed;
    font-family: 'Open Sans', sans-serif;   
}
.adresse1{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.local{
    width: 14px;
    max-height:19px;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tel{
    width: 30px;
    max-height:36px;
}
 .numero{
     margin-left: 6px;
}
.ligne_verticale{
    width:8px;
    border-left:1px solid black ;
    height:20px;
}
.face1{
    width: 19px;
    max-height:18px;
}
.face{
    width: 10px;
    max-height: 13px; 
}
.google{
    width: 23px;
    max-height:25px;
}
a{
    text-decoration: none;
    color: black;
}
    /*responsiv slider*/

@media all and (max-width:700px){  
/* @media only screen and (max-width:850px) and (min-width:450px){ */
  #slider #commands{margin:-25% 0 0 5%;width:90%;height:50px}
  #slider #commands label{-moz-transform:scale(0.9);-webkit-transform:scale(0.9);-o-transform:scale(0.9);-ms-transform:scale(0.9);transform:scale(0.9)}
  #slider #slides .caption{padding:280px 12px}
  #slider #slides{padding:2px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
  #slider #active{margin:15% 0 0}
}

@media all and (max-width:700px){  
.entete{
    display: flex;
    flex-direction: column;
}
.slogan{
    margin-left: 10%;
    font-weight: 100;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;  
}  
#slider{
    margin-top: 45%;
}
.navigation ul li a{  
    font-size: 18px;
    font-weight: 90;
}   
.navigation{
    width:45%; 
}
.navigation ul li a:hover{  
    background:white; 
    margin-left: 0;
}    
.bloc1{
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    margin-left: 1%;
    margin-top:21%;    
}   
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
    padding: 1vh;
    height: 12vh;  
    font-size: 11px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local{
    display:none; 
}
.tel{
    display: none;
 }
 .numero{
     margin-left: 0;
     margin-right: 5px;
 }

.ligne_verticale{
    width:8px;
    border-left:1px solid black ;
    height:20px;
}
.face1{
    width: 15px;
    max-height:15px;
    margin-right: 4px;
    margin-left: 0;
} 
.face{
    width: 8px;
    max-height: 11px; 
    margin-right: 7px;

}
.adresse1{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-bottom: 8%;
    }
.adresse1 p{
    margin: 0%;
    text-align: center;
}
.mentions{
    margin-right: 8px;
}
}



