
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
                /*fin reset Css*/
                /*début contenu*/

body{
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: auto;      
}
header{
    width: 100vw;
    height: auto;
} 


.entete{
    display: flex;
    flex-direction: row;
   	position: fixed;
	width: 100vw;
    height:16vh ;
    background:#A5DCF1; 
    top: 0;
} 
.logo{
    max-width: 200px;
    min-height: 100px;
    margin-left: 2%; 
    padding: 2px;
}
.slogan{
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    font-size: 25px;

}
/* marquee{   /* defilement slogan*/
    /*margin-left: 20px;
    font-size: 20px;
    margin-top: 6%; } */
 
            /*Menu navigation*/
.btn-navigation{
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 20;
    cursor: pointer;
}
.btn-navigation .barre{
    width: 30px;                            /*montre que c'est cliquable*/
    height: 3px;
    background: #111;
    margin-top: 3px;

    transition: background-color .3s ease-in-out;       /*effet doux*/
   -webkit-transition: transform .6s ease-in-out; 
}
.btn-navigation .barre.white{
    background: #fff;   
}
.navigation{
    position: fixed;
    right: 0;
    padding: 0 30px;
    background:#1366DE;
    width: 20%;
    height: 100%;
    top: 0;

    transition: transform .6s ease-in-out;       /*effet doux*/
   -webkit-transition: transform .6s ease-in-out;       /*linéaire*/
   
   transform: translateX(100%);                /* menu complètement caché*/
    -webkit-transform: translateX(100%);
}
.navigation.isOpen{                            /*changement d'état de la navigation*/
    transform: translateX(0%);  
    -webkit-transform: translateX(0%);
}
.navigation ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.navigation ul li{
    margin: 10px 0;      
}
.navigation ul li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .070em;  
}   
.navigation ul li a:hover{  
    text-decoration: underline;
}     

 /*fin menu navigation*/
 .diaporama1{
    margin: auto;
    width: 860px;
    height: 400px;
    border: 3px  solid #333;
    background-image: url(images/voiture9.jpg);
    margin-top: 8%;
   

    -webkit-animation-name: diapo1;
    -webkit-animation-duration: 9s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;

    -moz-animation-name: diapo1;
    -moz-animation-duration: 9s;
    -moz-animation-timing-function:linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;

    animation-name: diapo1;
    animation-duration: 9s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@-webkit-keyframes diapo1{
    0%{background-image: url(images/voiture9.jpg)}
    33%{background-image: url(images/demenagement.jpg)}
    66%{background-image: url(images/pneu.jpg)}
}
@-moz-keyframes diapo1{
    0%{background-image: url(images/voiture9.jpg)}
    33%{background-image: url(images/demenagement.jpg)}
    66%{background-image: url(images/pneu.jpg)}
}
@keyframes diapo1{
    0%{background-image: url(images/voiture9.jpg)}
    33%{background-image: url(images/demenagement.jpg)}
    66%{background-image: url(images/pneu.jpg)}
}

  

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
	left: 0;
    padding: 1vh;
     bottom: 0;
}
.tel{
    width: 32px;
    max-height:38px;
 }
 .numero{
     margin-left: 6px;
 }
.ligne_verticale{
    width:5px;
    border-left:1px solid gray;
    height:60px;
}
.bloc7{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
.local{
    width: 22px;
    max-height:30px;
}
.face{
    width: 14px;
    max-height: 16px; 
}
.google{
    width: 25px;
    max-height:25px;
}